
section{
    width: 100%;
    height: auto;
    left: 200px;
    position: relative;
}
.endereço1{
    width: 400px;
    height: 400px;
}
.endereço2{
    width: 400px;
    height: 400px;
}
.endereço3{
    width: 400px;
    height: 400px;
}